<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!--开启驼峰标识-->
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

    <typeAliases>
        <typeAlias type="cn.jxufe.jackfrank.domain.User" alias="User" />
        <typeAlias type="cn.jxufe.jackfrank.domain.Student" alias="Student" />
        <typeAlias type="cn.jxufe.jackfrank.domain.Course" alias="Course"/>
    </typeAliases>

</configuration>